---
// src/pages/index.astro

import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Skills from '../components/Skills.astro'
import Projects from '../components/Projects.astro'
import ContactSection from '../components/ContactSection.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <ContactSection />
  </main>
  <Footer />
</Layout>
